<div class="card">
    <h5 class="card-header"></h5>
    <section class="comment card-body">
        <div class="content">
            {{content}}
        </div>
        <div class="meta">
            -{{user.username}} commented on {{moment createdAt format="dddd hh:mm A MMM DD, YYYY"}}
        </div>
    </section>
</div>