    <div class="wrapper row">
      <div class="container col-5 bg-info">
        <h2 >Login</h2>
        
        <form class="form login-form ">
          <div class="form-group ">
            <label for="username-login">username:</label>
            <input class="form-input w-100" type="text" id="username-login" />
          </div>
          <div class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input w-100" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn btn-danger" type="submit">login</button>
          </div>
        </form>
        </div>
        <div class="container col-2">
          <h3 class="text-center"> OR </h3>
        </div>
        <div class="container col-5 bg-warning">
        <h2>Sign Up</h2>
        
        <form class="form signup-form">
          <div class="form-group">
            <label for="username-signup">username:</label>
            <input class="form-input w-100" type="text" id="username-signup" />
          </div>
          <div class="form-group">
            <label for="email-signup">email:</label>
            <input class="form-input w-100" type="email" id="email-signup" />
          </div>
            <div class="form-group">
            <label for="password-signup">password (8 characters):</label>
            <input class="form-input w-100" type="password" id="password-signup" />
          </div>
          <div class="form-group">
            <button class="btn btn-danger" type="signup" id="signup">Sign-Up!</button>
          </div>
        </form>
        </div>
    </div>

      
      <script src="/js/login.js"></script>
      <script src="/js/signup.js"></script>